* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 20px 200px;
}

h1 {
    color: darkblue;
    background-color: lightgrey;
    padding: 5px 10px;
}

h2 {
    color: darkgreen;
}

img {
    width: 250px;
    height: auto;
}

div.description {
    background-color: lightgrey;
}

ul.ingredients li {
    font-family: 'Courier New', Courier, monospace;
}

ul.recipelist li {
    display: inline-block;
    padding: 50px 10px;
    background-color: lightgoldenrodyellow;
    margin-left: 0;
    /* height: 100px; */
}