* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkgreen;
}

img {
    width: 250px;
    height: auto;
}

div.description {
    background-color: lightgrey;
}

ul.ingredients li {
    font-family: 'Courier New', Courier, monospace;
}